

<!---->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Quote It Out!!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-auto">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="leftside">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" >
            <button type="button" class="btn btn-success btn-sm">Highest Rated</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger btn-sm">Lowest Rated</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning btn-sm">Longest Period</button>
          </li>
          <li class="nav-item" >
            <button type="button" class="btn btn-light btn-sm">Shortest Period</button>
          </li>  
        </ul>
      </div>
    </div>
  
  </nav>

<!---->
<body>

<div class="container">

<div class="row">
  <div class="col-8">
  <div >
    <ul >
      <li class="box" *ngFor = "let sample of samples">
          <p>Quote: <span>"{{sample.quote}}"</span></p>
          <pre></pre>
          <p>Quote Author: <span>{{sample.author}}</span>      Creator Name: <span>{{sample.name}}</span></p>
          <pre></pre>
          <p>Creation Date: <span>{{sample.date}}</span> Time Difference: <span>{{calculateDiff()}}</span></p>
          
          <span> Rating: {{numberofLikes}}</span>
          <button (click)= "likeButtonClick()" type="button" class="btn btn-success btn-sm">Like</button>
          <span>{{numberofDislikes}}</span>
          <button  (click)= "dislikeButtonClick()" type="button" class="btn btn-danger btn-sm">Dislike</button> 
      </li>
    </ul>

    

    <div>
      {{today | date:'short'}}
     </div>


  </div>
  </div>
<!---->

  <div class="col-4">
    <div class=" form-control container center">
    <form (ngSubmit)="onCreate($event) "   class="form1" id="form1">
      <label for="" class="form2">Quote Creator</label>
      <div class="">

          <label for="">Your Name:</label>
          <input type="text" #name='ngModel' required minlength="3" class="form-control" id="name" [(ngModel)]="quote.name" name="name"  >
          <br><br>

          <p>{{quote.name}}</p>
          <p>{{quote.head}}</p>
          <p>{{quote.flower}}</p>
  
          <label for="">Quote:</label>
          <input type="text" placeholder="quote" class="form-text" quote="head" #head='ngModel' [(ngModel)]="quote.head" name='head'>
          <br><br>
  
          <label for="">Authors Name:</label>
          <input type="text" placeholder="Authors Name" class="form-text" author="flower" #flower='ngModel' [(ngModel)]="quote.flower" name="flower">
          <br><br>
  
          <button  class="btn btn-primary" type="submit">Submit</button>           
      </div>  
    </form>
  </div>

</div>
</div>

<!---->

