<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>



<!---->

<button type="button" class="btn btn-primary btn-sm">Highest Rated</button>
<button type="button" class="btn btn-secondary btn-sm">Lowest Rated</button>
<button type="button" class="btn btn-primary btn-sm">Longest Period</button>
<button type="button" class="btn btn-secondary btn-sm">Shortest Period</button>


<!---->

<form action="">
    <label for="">Form</label>
    <div>
        <div>
            <label for="">Quote:</label>
            <input type="text" placeholder="Quote" >
        </div>
        <div>
            <label for="">Authors Name:</label>
            <input type="text" placeholder="Authors Name">
        </div>
        <div>
            <label for="">Your Name:</label>
            <input type="text" placeholder="Submitters Name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="Email" placeholder="Email">
        </div> 
        <div>
            <button type="submit">Submit</button>
        </div>  
        
    </div>
        
</form>
