<div class="container">
  
  <h2>Quote It Out!!!</h2>
</div>
<!---->

<!---->
<!---->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Quote</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-auto">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="leftside">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" >
            <button type="button" class="btn btn-success btn-sm">Highest Rated</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger btn-sm">Lowest Rated</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning btn-sm">Longest Period</button>
          </li>
          <li class="nav-item" >
            <button type="button" class="btn btn-light btn-sm">Shortest Period</button>
          </li>  
        </ul>
      </div>
    </div>
  
  </nav>



<!---->

<div class="container">
  <div class="row">
    
    <div class="col-8">
      <div class="container">
        <ul>
          <li *ngFor = "let sample of samples">
            
              <span>{{sample.quote}}</span>
              <pre></pre>
              <span>{{sample.author}}</span>
              <pre></pre>
              <span>{{sample.name}}</span>
              <pre></pre>
              <span>{{sample.date}}</span>
              <pre></pre>
              <p>{{numberofLikes}}</p>
              <button (click)= "likeButtonClick()" type="button" class="btn btn-success btn-sm">Like</button>
              <p>{{numberofDislikes}}</p>
              <button  (click)= "dislikeButtonClick()" type="button" class="btn btn-danger btn-sm">Dislike</button> 
          </li>
        </ul>
      </div>
      
      <!---->
      <div>
        <p>{{numberofLikes}}</p>
        <button (click)= "likeButtonClick()" type="button" class="btn btn-success btn-sm">Like</button>
        <p>{{numberofDislikes}}</p>
        <button  (click)= "dislikeButtonClick()" type="button" class="btn btn-danger btn-sm">Dislike</button> 
      </div>
        
      
      <!---->
       <div>
        {{today | date:'short'}}
       </div>
    </div>


<!---->    

    <div class="col-md-4">
      <div>
        <div class=" form-control container center">
          <form  class="form1" id="form1">
            <label for="" class="form2">Quote Creator</label>
            <div class="">

                <label for="">Your Name:</label>
                <input  name="name" class="form-text">
                <br><br>
        
                <label for="">Quote:</label>
                <input type="text" placeholder="Quote" class="form-text">
                <br><br>
        
                <label for="">Authors Name:</label>
                <input type="text" placeholder="Authors Name" class="form-text">
                <br><br>
        
                <button  class="btn btn-primary" type="submit">Submit</button>           
            </div>  
        
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>


<!---->